.classe0{
    grid-area: c1;
}

.classe1{
    grid-area: c2;
}

.classe2{
    grid-area: c3;
}

.classe3{
    grid-area: c4;
}

.classe4{
    grid-area: c5;
}

.classe5{
    grid-area: c6;
}

.classe6{
    grid-area: c7;
}

.classe7{
    grid-area: c8;
}
